{{ "<!-- Banner -->" | safeHTML}}
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>{{ .Site.Params.banner.title }}</h1>
        </header>
        <div class="content">
            <p>{{ .Site.Params.banner.subtitle }}</p>
            <ul class="icons">
                {{ range .Site.Params.banner.social }}
                    <li><a href="{{ .url | safeHTML }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                {{ end }}
            </ul>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">{{ .Site.Params.Banner.buttonText }}</a></li>
            </ul>
        </div>
    </div>
</section>
